body {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.slide-wrapper {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.slide {
  display: flex;
}

.slide li {
  width: 80%;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
}
